Funeral.Web/Service References/niws_partner/NIWS_Partner.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_Partner.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NC.DG.TMS.C.WCF.NIWS" />
  <xs:element name="BatchFileUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchFileUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchFileUploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFileUploadReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFileUploadReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestFileUploadReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateServiceKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NC.DG.TMS.C.WCF.NIWS" minOccurs="0" name="request" nillable="true" type="q1:ValidateServiceKeyRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateServiceKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NC.DG.TMS.C.WCF.NIWS" minOccurs="0" name="ValidateServiceKeyResult" nillable="true" type="q2:ValidateServiceKeyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountSupportMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partnerServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountSupportMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountSupportMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAccountStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partnerServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pastelAccountNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAccountStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestAccountStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAccountStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAccountStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveAccountStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePNSHandle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePNSHandleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrievePNSHandleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartnerAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartnerAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartnerAuthResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdatePNSHandle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemUserID" type="xs:int" />
        <xs:element minOccurs="0" name="PNSHandle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdatePNSHandleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrUpdatePNSHandleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePNSHandle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePNSHandleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePNSHandleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateComplianceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NC.DG.TMS.C.WCF.NIWS" minOccurs="0" name="request" nillable="true" type="q3:ValidateComplianceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateComplianceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NC.DG.TMS.C.WCF.NIWS" minOccurs="0" name="ValidateComplianceStatusResult" nillable="true" type="q4:ValidateComplianceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>