Funeral.Web/Service References/niws_validation/NIWS_Validation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidateBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateBankAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateBranchCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateBranchCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateBranchCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBankListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankListWithDefaultBranchCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankListWithDefaultBranchCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBankListWithDefaultBranchCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBranchListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchListBySuburb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SuburbName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchListBySuburbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBranchListBySuburbResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>