Funeral.Web/Service References/niws_validation/NIWS_Validation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NIWS_Validation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_INIWS_Validation_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_Validation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://ws.netcash.co.za/NIWS/NIWS_Validation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INIWS_Validation_ValidateBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateBankAccount" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_ValidateBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_ValidateBranchCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateBranchCode" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_ValidateBranchCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateBranchCodeResponse" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_GetBankList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankList" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_GetBankList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankListResponse" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_GetBankListWithDefaultBranchCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankListWithDefaultBranchCode" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_GetBankListWithDefaultBranchCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankListWithDefaultBranchCodeResponse" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_GetBranchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchList" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_GetBranchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchListResponse" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_ValidateId_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateId" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_ValidateId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateIdResponse" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_GetBranchListBySuburb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchListBySuburb" />
  </wsdl:message>
  <wsdl:message name="INIWS_Validation_GetBranchListBySuburb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchListBySuburbResponse" />
  </wsdl:message>
  <wsdl:portType name="INIWS_Validation">
    <wsdl:operation name="ValidateBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/INIWS_Validation/ValidateBankAccount" message="tns:INIWS_Validation_ValidateBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INIWS_Validation/ValidateBankAccountResponse" message="tns:INIWS_Validation_ValidateBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateBranchCode">
      <wsdl:input wsaw:Action="http://tempuri.org/INIWS_Validation/ValidateBranchCode" message="tns:INIWS_Validation_ValidateBranchCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INIWS_Validation/ValidateBranchCodeResponse" message="tns:INIWS_Validation_ValidateBranchCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankList">
      <wsdl:input wsaw:Action="http://tempuri.org/INIWS_Validation/GetBankList" message="tns:INIWS_Validation_GetBankList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INIWS_Validation/GetBankListResponse" message="tns:INIWS_Validation_GetBankList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankListWithDefaultBranchCode">
      <wsdl:input wsaw:Action="http://tempuri.org/INIWS_Validation/GetBankListWithDefaultBranchCode" message="tns:INIWS_Validation_GetBankListWithDefaultBranchCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INIWS_Validation/GetBankListWithDefaultBranchCodeResponse" message="tns:INIWS_Validation_GetBankListWithDefaultBranchCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchList">
      <wsdl:input wsaw:Action="http://tempuri.org/INIWS_Validation/GetBranchList" message="tns:INIWS_Validation_GetBranchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INIWS_Validation/GetBranchListResponse" message="tns:INIWS_Validation_GetBranchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateId">
      <wsdl:input wsaw:Action="http://tempuri.org/INIWS_Validation/ValidateId" message="tns:INIWS_Validation_ValidateId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INIWS_Validation/ValidateIdResponse" message="tns:INIWS_Validation_ValidateId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchListBySuburb">
      <wsdl:input wsaw:Action="http://tempuri.org/INIWS_Validation/GetBranchListBySuburb" message="tns:INIWS_Validation_GetBranchListBySuburb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INIWS_Validation/GetBranchListBySuburbResponse" message="tns:INIWS_Validation_GetBranchListBySuburb_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INIWS_Validation" type="tns:INIWS_Validation">
    <wsp:PolicyReference URI="#BasicHttpBinding_INIWS_Validation_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateBankAccount">
      <soap:operation soapAction="http://tempuri.org/INIWS_Validation/ValidateBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateBranchCode">
      <soap:operation soapAction="http://tempuri.org/INIWS_Validation/ValidateBranchCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankList">
      <soap:operation soapAction="http://tempuri.org/INIWS_Validation/GetBankList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankListWithDefaultBranchCode">
      <soap:operation soapAction="http://tempuri.org/INIWS_Validation/GetBankListWithDefaultBranchCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchList">
      <soap:operation soapAction="http://tempuri.org/INIWS_Validation/GetBranchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateId">
      <soap:operation soapAction="http://tempuri.org/INIWS_Validation/ValidateId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchListBySuburb">
      <soap:operation soapAction="http://tempuri.org/INIWS_Validation/GetBranchListBySuburb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NIWS_Validation">
    <wsdl:port name="BasicHttpBinding_INIWS_Validation" binding="tns:BasicHttpBinding_INIWS_Validation">
      <soap:address location="https://ws.netcash.co.za/NIWS/NIWS_Validation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>